/*   ---   Grid Servicios   ---   */

.container-s {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 3fr 1fr;
    grid-template-areas:
        "header header"
        "banner banner"
        "seccion2-s seccion3-s"
        "footer footer";
}

/*   ---   Inicio de Servicios   ----   */

.header {
    grid-area: header;
}

.banner {
    grid-area: banner;
}

.seccion2-s {
    grid-area: seccion2-s;

 h2 {
    font-weight: 600;
    text-align:start;
    margin-left: 70px;
    margin-top: 20px;
    padding: 20px;
    font-size: 50px;
}
    

img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}
    }

.seccion3-s {
    grid-area: seccion3-s;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;


    p {
    font-size: 30px;
    font-style: oblique;
    margin-right: 50px;

    }
    }
.footer {
    grid-area: footer;
}

/*   ---   Fin de Servicios   ---   */